.banner-container {
   /* Set a specific height */
   height: 100vh;
   min-height: 500px;
   width: 100%;

   /* Position and center the image to scale nicely on all screens */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover !important;
   -webkit-background-size: cover !important;
   position: relative;  

   text-align: center;
   overflow: hidden;
}

.banner-text {
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 80%;

   text-align: center;
   font-family: Montserrat;
   color: white;
}